@model Wealth_Management_Services.Models.dividends_2022

@using Wealth_Management_Services.ViewModel

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/PartialStyles.css" rel="stylesheet" />

<!--Ajax Package Section-->
<script src="~/Scripts/jquery-1.4.4.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div>
    <div style="color:dimgrey; font-weight:bold; font-size: 1.5em">
        @MyViewModel.Message
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.january)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.january)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.february)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.february)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.march)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.march)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.april)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.april)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.may)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.may)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.june)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.june)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.july)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.july)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.august)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.august)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.september)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.september)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.october)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.october)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.november)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.november)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.december)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.december)
        </dd>

    </dl>
</div>
