@model Wealth_Management_Services.Models.brokerOperation

@using Wealth_Management_Services.ViewModel

<!--Styles-->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/PartialStyles.css" rel="stylesheet" />
<!--Ajax Package Section-->
<script src="~/Scripts/jquery-1.4.4.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

@using (Html.BeginForm("Purchasing", "Home", FormMethod.Post, new { area = "Brokers" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="titles">@MyViewModel.Message</div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.transactionID, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.transactionID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.transactionID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.trader, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.trader, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("trader", new List<SelectListItem>
                {
                    new SelectListItem(){ Text = "Acorns", Value = "Acorns"},
                    new SelectListItem(){ Text = "Merryll Lynch", Value = "Merryll Lynch"},
                    new SelectListItem(){ Text = "eTrade", Value = "eTrade"},
                    new SelectListItem(){ Text = "Stash", Value = "Stash"},
                    new SelectListItem(){ Text = "TradeStation", Value = "TradeStation"},
                    new SelectListItem(){ Text = "Vanguard", Value = "Vanguard"},
                    new SelectListItem(){ Text = "Fidelity", Value = "Fidelity"},
                    new SelectListItem(){ Text = "FirsTrade", Value = "FirsTrade"},
                    new SelectListItem(){ Text = "Charles Schwab", Value = "Charles Schwab"},
                    new SelectListItem(){ Text = "Ameritrade", Value = "Ameritrade"}
                }, "Select a Trader", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.trader, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.shares, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.shares, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("shares", new List<SelectListItem>
                {
                    new SelectListItem(){ Text = "Stocks", Value = "Stocks"},
                    new SelectListItem(){ Text = "Bonds", Value = "Bonds"},
                    new SelectListItem(){ Text = "ETFs", Value = "ETFs"},
                    new SelectListItem(){ Text = "Mutual-Funds", Value = "Mutual-Funds"},
                    new SelectListItem(){ Text = "Hedge-Funds", Value = "Hedge-Funds"}
                }, "Select a Share", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.shares, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.item, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.item, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("item", new List<SelectListItem>
                {
                    new SelectListItem(){ Text = "AAPL", Value = "AAPL"},
                    new SelectListItem(){ Text = "DOW", Value = "DOW"},
                    new SelectListItem(){ Text = "NFLX", Value = "NFLX"},
                    new SelectListItem(){ Text = "UAA", Value = "UAA"},
                    new SelectListItem(){ Text = "TSLA", Value = "TSLA"},
                    new SelectListItem(){ Text = "AMZN", Value = "AMZN"}
                }, "Select an Item", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.item, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.brokerID, "broker ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("brokerID", null, htmlAttributes: new { @class = "form-control" })*@
                @*@Html.EditorFor(model => model.brokerID, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.TextBoxFor(model => model.brokerID, Session["brokerId"], new { @class = "form-control" })*@
                @Html.TextBox("brokerID", Session["brokerId"], new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.brokerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.purchaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.purchaseDate, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="date" name="purchaseDate" id="purchaseDate" class="form-control" />
                @Html.ValidationMessageFor(model => model.purchaseDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clientID, "client ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("clientID", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.EditorFor(model => model.clientID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.clientID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.total, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.total, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buy Assets" class="btn btn-default" />
            </div>
        </div>
    </div>
}


