@model Wealth_Management_Services.Models.management

@using Wealth_Management_Services.ViewModel

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/PartialStyles.css" rel="stylesheet" />
<!-- Chart.js Section -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="~/Scripts/chart.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<!--Ajax Package Section-->
<script src="~/Scripts/jquery-1.4.4.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div class="partialDashboardBox">
    <div class="article-mgmt">
        <table class="table">
            <caption style="color:dimgrey; font-weight:bold;">
                @MyViewModel.Welcome
            </caption>
            <tr>
                <td>@Html.DisplayNameFor(x => x.name)</td>
                <td>@Html.DisplayFor(x => x.name)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(x => x.username)</td>
                <td>@Html.DisplayFor(x => x.username)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(x => x.email)</td>
                <td>@Html.DisplayFor(x => x.email)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(x => x.salary)</td>
                <td>@Html.DisplayFor(x => x.salary)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(x => x.hireDate)</td>
                <td>@Html.DisplayFor(x => x.hireDate)</td>
            </tr>
        </table>
        <div id="#ajaxNavBar">
            <h4>Navigation</h4>
            <div class="ajaxLinks">
                @Ajax.ActionLink("List of All Clients", "ClientsList", new AjaxOptions
                                                                            {
                                                                                HttpMethod = "GET",
                                                                                UpdateTargetId = "mgmtDisplay",
                                                                                InsertionMode = InsertionMode.Replace
                                                                            })
            </div>
            <div class="ajaxLinks">
                @Ajax.ActionLink("Clients Chart", "ClientsChart", new AjaxOptions
                                                                            {
                                                                                HttpMethod = "GET",
                                                                                UpdateTargetId = "mgmtDisplay",
                                                                                InsertionMode = InsertionMode.Replace,
                                                                            })
            </div>
            <div class="ajaxLinks">
                @Ajax.ActionLink("Highest Dividends", "HighestDividend", new { lastdividend = 3000 }, new AjaxOptions
                                                                                        {
                                                                                            HttpMethod = "GET",
                                                                                            UpdateTargetId = "mgmtDisplay",
                                                                                            InsertionMode = InsertionMode.Replace
                                                                                        })
            </div>
            <hr />
            <div class="ajaxLinks">
                @Ajax.ActionLink("List of All Brokers", "BrokersList", new AjaxOptions
                                                                                {
                                                                                    HttpMethod = "GET",
                                                                                    UpdateTargetId = "mgmtDisplay",
                                                                                    InsertionMode = InsertionMode.Replace
                                                                                })
            </div>
            <div class="ajaxLinks">
                @Ajax.ActionLink("Brokers Transactions", "Transactions", new AjaxOptions
                                                                            {
                                                                                HttpMethod = "GET",
                                                                                UpdateTargetId = "mgmtStats",
                                                                                InsertionMode = InsertionMode.Replace
                                                                            })
            </div>
            <div class="ajaxLinks">
                @Ajax.ActionLink("Brokers Info", "BrokersInfo", new AjaxOptions
                                                                            {
                                                                                HttpMethod = "GET",
                                                                                UpdateTargetId = "mgmtInfo",
                                                                                InsertionMode = InsertionMode.Replace,
                                                                            })
            </div>
            <div class="ajaxLinks">
                @Ajax.ActionLink("Brokers Performance", "BrokersPerformanceChart", new AjaxOptions
                                                                                        {
                                                                                            HttpMethod = "GET",
                                                                                            UpdateTargetId = "mgmtInfo",
                                                                                            InsertionMode = InsertionMode.Replace,
                                                                                        })
            </div>
        </div>
    </div>

    <div class="article-mgmt" id="mgmtDisplay">
        
    </div>
    <div class="article-mgmt" id="mgmtInfo">
        noTag
    </div>
    <div class="article-mgmt" id="mgmtStats">
        <b>Financial Reports Listing</b>
    </div>
</div> <!-- / 'partialDashboardBox' -->
