@model Wealth_Management_Services.Models.broker

@using Wealth_Management_Services.ViewModel

<table width="300px" border="1" style="background-color:aqua;">
    
    <caption style="color:dimgrey; font-weight:bold;">
        @MyViewModel.Welcome
    </caption>
    <tr>
        <td><a>@Html.DisplayNameFor(x => x.name)</a></td>
        <td>@Html.DisplayFor(x => x.name)</td>
    </tr>
    <tr>
        <td><a>@Html.DisplayNameFor(x => x.username)</a></td>
        <td>@Html.DisplayFor(x => x.username)</td>
    </tr>
    <tr>
        <td><a>@Html.DisplayNameFor(x => x.password)</a></td>
        <td>@Html.DisplayFor(x => x.password)</td>
    </tr>
    <tr>
        <td><a>@Html.DisplayNameFor(x => x.gender)</a></td>
        <td>@Html.DisplayFor(x => x.gender)</td>
    </tr>
    <tr>
        <td><a>@Html.DisplayNameFor(x => x.email)</a></td>
        <td>@Html.DisplayFor(x => x.email)</td>
    </tr>
    <tr>
        <td><a>@Html.DisplayNameFor(x => x.salary)</a></td>
        <td>@Html.DisplayFor(x => x.salary)</td>
    </tr>
    <tr>
        <td><a>@Html.DisplayNameFor(x => x.commission)</a></td>
        <td>@Html.DisplayFor(x => x.commission)</td>
    </tr>
    <tr>
        <td><a>@Html.DisplayNameFor(x => x.hireDate)</a></td>
        <td>@Html.DisplayFor(x => x.hireDate)</td>
    </tr>
    <tr>
        <td><a>@Html.DisplayNameFor(x => x.managerID)</a></td>
        <td>@Html.DisplayFor(x => x.managerID)</td>
    </tr>

</table>